{% extends "base.html" %}
{% block body %}
    <h2>This is the about page</h2>
    <p style="font-family: Ubuntu, sans-serif">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus blanditiis doloribus ipsum maxime neque
        odit
        possimus quos rem veritatis. Ad alias aliquam eos est facere iusto necessitatibus nihil quibusdam quod, tenetur
        voluptas voluptatum! Adipisci aliquid assumenda atque delectus deserunt enim est eveniet facilis harum impedit,
        in
        inventore iure magnam molestiae mollitia natus necessitatibus nisi odio officiis repellat sed similique
        temporibus,
        veritatis vero vitae? Expedita, hic, odio! Accusantium autem dignissimos expedita laudantium obcaecati provident
        quasi repellat sequi tempore voluptates? Accusamus ad atque, debitis enim esse eveniet in inventore minima minus
        molestias obcaecati odit perspiciatis, quos reiciendis rem rerum temporibus voluptatum.
    </p>
{% endblock %}